# 07_data_cleaning: Clean Data/Prep for ML combining 02 and 05 notebooks
Date: 2022-06-08

## Load Packages and Data

In [3]:
import os
import numpy as np
#os.chdir('..')
import pandas as pd
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder, MinMaxScaler, OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [4]:
#read in dataset
data = pd.read_csv('data/train.csv')
#separate predictors from target values 
training = data.drop('SalePrice', axis = 1) 
prices = data['SalePrice'].copy()

## Develop Cleaning Plan

In [5]:
# see percentage of missing values 
percent_null = training.isnull().mean()

# see columns with more than 5% missing 
percent_null[percent_null > 0.05]

LotFrontage     0.177397
Alley           0.937671
FireplaceQu     0.472603
GarageType      0.055479
GarageYrBlt     0.055479
GarageFinish    0.055479
GarageQual      0.055479
GarageCond      0.055479
PoolQC          0.995205
Fence           0.807534
MiscFeature     0.963014
dtype: float64

**Review how to process these columns:**

Working with NA data: 
- Drop: 
    - `GarageYrBlt`: This variable is very correlated with `YearBuilt` and it doesn't make sense to impute NA values with anything. 
- Needs Imputation: 
    - `LotFrontage` since it seems like this might be correlated with price (but don't want to drop 18% of data) 
- Based on the data_description.txt file, it looks like many columns will be fixed if we change NA values to a category (not having that characteristic)
    - Garage data sets NA when there is no garage, so we will want to treat NA as a flag for no garage. 
    - Similarly, `FireplaceQu` only applies for homes with a Fireplace. Add a flag for no fireplace. 
    - `Alley` - change to flag of no alley
    - `Pool` - change to flag of No Pool 
    - `Fence` - change to flag of No Fence
    - `MiscFeature` - Only One Hot Encode non-NA since it other categories indicate having features such as elevator, shed, etc. and NA means there are no extra features.

Columns to One-Hot Encode that are currently numeric:
- `MSSubClass`: Numbers refer to differnt types of construction and should be categorical. 
- `YearRemodAdd`: Change to Binary if there is a remodel or not. (Based on scatter plots from 01 notebook that if there is no remodel, it seems this is just the same age as the construction year).

## Clean Data 

Numeric: 
- Create a custom transformer for the YearRemodAdd 
- Use `SimpleImputer()` to impute variables like LotFrontage. Use median (better against outliers). 
- Scale the data using `MinMaxScaler()` 

Categorical: 
- Change numeric variables to categorical where applicable (ie., MSSubClass)
- Change NAs to a new category of not having the characteristic 
- One-hot encode the categorical variables (and remove a column if binary)

### Numeric

In [32]:
#drop these columns from training set 
drop_columns = ['Id', 'GarageYrBlt'] 
training = training.drop(drop_columns, axis = 1)

KeyError: "['Id' 'GarageYrBlt'] not found in axis"

In [38]:
# get only numeric variables (and omit the MSSubClass variable since we'll make it categorical and Id since it's irrelevant)
train_num = training.select_dtypes(include = 'number').drop(['MSSubClass'], axis = 1)
train_num.head()

,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
0,65.0,8450,7,5,2003,2003,196.0,706,0,150,...,548,0,61,0,0,0,0,0,2,2008
1,80.0,9600,6,8,1976,1976,0.0,978,0,284,...,460,298,0,0,0,0,0,0,5,2007
2,68.0,11250,7,5,2001,2002,162.0,486,0,434,...,608,0,42,0,0,0,0,0,9,2008
3,60.0,9550,7,5,1915,1970,0.0,216,0,540,...,642,0,35,272,0,0,0,0,2,2006
4,84.0,14260,8,5,2000,2000,350.0,655,0,490,...,836,192,84,0,0,0,0,0,12,2008

In [39]:
# create transformer to get if there is a remodel or not 
class CleanRemodels(BaseEstimator, TransformerMixin):
    
    def fit(self, X, y = None): 
        return self 
    
    def transform(self, X): 
        
        year_built = X['YearBuilt'].tolist()
        year_remodel = X['YearRemodAdd'].tolist()
        
        # If remodel year is after the built year, than the house was remodeled. 
        remodel = [1 if year_remodel[i] > year_built[i] else 0 for i in range(X.shape[0])]
        
        #Add the new binary column for whether there was a remodel
        X['Remodeled'] = remodel
        
        return X

# get total home area 

columns_for_area_calc = ['TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'WoodDeckSF', 'OpenPorchSF']
indexes = np.squeeze([np.where(train_num.columns == col_name) for col_name in columns_for_area_calc]).tolist()

class add_home_area(BaseEstimator, TransformerMixin): 
    """
    Function to add total home area to numeric variables
    """
   
    def fit(self, X, y = None): 
        return self
    
    def transform(self, X): 
        total_area = np.sum(X[:, indexes], axis = 1)
        
        return np.c_[X, total_area]

In [40]:
# create Pipeline for numeric variables 
# Note: since transfomer function returns array instead of dataframe, had to make CleanRemodel() function run first. 

numeric_pipeline = Pipeline(steps = [
    ('postprocess', CleanRemodels()),
    ('impute', SimpleImputer(strategy = 'median')),
    ('homearea', add_home_area()), 
    ('scale', MinMaxScaler())
])

In [41]:
housing_num = numeric_pipeline.fit_transform(train_num.copy())
housing_num[:2]

array([[0.15068493, 0.0334198 , 0.66666667, 0.5       , 0.94927536,
        0.88333333, 0.1225    , 0.12508859, 0.        , 0.06421233,
        0.1400982 , 0.11977972, 0.41355932, 0.        , 0.25923135,
        0.33333333, 0.        , 0.66666667, 0.5       , 0.375     ,
        0.33333333, 0.5       , 0.        , 0.5       , 0.3864598 ,
        0.        , 0.11151737, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.09090909, 0.5       , 0.        ,
        0.19230124],
       [0.20205479, 0.03879502, 0.55555556, 0.875     , 0.75362319,
        0.43333333, 0.        , 0.17328136, 0.        , 0.12157534,
        0.20654664, 0.21294172, 0.        , 0.        , 0.17483044,
        0.        , 0.5       , 0.66666667, 0.        , 0.375     ,
        0.33333333, 0.33333333, 0.33333333, 0.5       , 0.32440056,
        0.34772462, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.36363636, 0.25      , 0.        ,
        0.20865481]])

### Categorical

In [42]:
# get all categorical variables 
num_columns = train_num.columns.to_list()
train_cat = training.drop(num_columns, axis = 1)

# change MSSubClass to categorical from numeric
train_cat['MSSubClass'] = train_cat['MSSubClass'].apply(str) 

# change NA values to 'None' for each of columns below
columns_to_change_null_values = ['GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 
                                 'PoolQC', 'Fence', 'MiscFeature', 'Alley', 'FireplaceQu',
                                'MasVnrType', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1',
                                'BsmtFinType2', 'Electrical']

for column in columns_to_change_null_values: 
    train_cat.loc[train_cat[column].isnull(), column] = 'None'

In [11]:
# check that NA values are gone 
for column in columns_to_change_null_values: 
    print(column)
    print(train_cat[column].unique())

GarageType
['Attchd' 'Detchd' 'BuiltIn' 'CarPort' 'None' 'Basment' '2Types']
GarageFinish
['RFn' 'Unf' 'Fin' 'None']
GarageQual
['TA' 'Fa' 'Gd' 'None' 'Ex' 'Po']
GarageCond
['TA' 'Fa' 'None' 'Gd' 'Po' 'Ex']
PoolQC
['None' 'Ex' 'Fa' 'Gd']
Fence
['None' 'MnPrv' 'GdWo' 'GdPrv' 'MnWw']
MiscFeature
['None' 'Shed' 'Gar2' 'Othr' 'TenC']
Alley
['None' 'Grvl' 'Pave']
FireplaceQu
['None' 'TA' 'Gd' 'Fa' 'Ex' 'Po']
MasVnrType
['BrkFace' 'None' 'Stone' 'BrkCmn']
BsmtQual
['Gd' 'TA' 'Ex' 'None' 'Fa']
BsmtCond
['TA' 'Gd' 'None' 'Fa' 'Po']
BsmtExposure
['No' 'Gd' 'Mn' 'Av' 'None']
BsmtFinType1
['GLQ' 'ALQ' 'Unf' 'Rec' 'BLQ' 'None' 'LwQ']
BsmtFinType2
['Unf' 'BLQ' 'None' 'ALQ' 'Rec' 'LwQ' 'GLQ']
Electrical
['SBrkr' 'FuseF' 'FuseA' 'FuseP' 'Mix' 'None']

In [12]:
#check that there are now no null values
all(train_cat.isnull().mean() == 0)

True

In [15]:
train_cat.to_csv('cleaned_data/categorical_cleaned.csv', index = False)

In [71]:
# create a transfomer for the categorical variables 

class clean_categorical(BaseEstimator, TransformerMixin):
    
    def fit(self, X, y = None): 
        return self
    
    def transform(self, X): 
        
        # change MSSubClass to categorical from numeric
        if 'MSSubClass' in X.columns:
            X['MSSubClass'] = X['MSSubClass'].apply(str) 

        # change NA values to 'None' for each of columns below
        columns_to_change_null_values = ['GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 
                                 'PoolQC', 'Fence', 'MiscFeature', 'Alley', 'FireplaceQu',
                                'MasVnrType', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1',
                                'BsmtFinType2', 'Electrical']

        for column in columns_to_change_null_values: 
            if column in X.columns:
                X.loc[X[column].isnull(), column] = 'None'
        
        return X

#### See how OneHotEncoder works

In [47]:
# test OneHotEncoder()
enc = OneHotEncoder(handle_unknown = 'ignore')
garage_1hot = enc.fit_transform(train_cat[['GarageType']])

pd_1hot = pd.DataFrame(garage_1hot.todense())
compare_to_original = pd.concat([train_cat[['GarageType']], pd_1hot], axis = 1)

In [48]:
# see how one hot encoding worked 
compare_to_original.drop_duplicates()

    GarageType    0    1    2    3    4    5    6
0       Attchd  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3       Detchd  0.0  0.0  0.0  0.0  0.0  1.0  0.0
11     BuiltIn  0.0  0.0  0.0  1.0  0.0  0.0  0.0
17     CarPort  0.0  0.0  0.0  0.0  1.0  0.0  0.0
39        None  0.0  0.0  0.0  0.0  0.0  0.0  1.0
98     Basment  0.0  0.0  1.0  0.0  0.0  0.0  0.0
129     2Types  1.0  0.0  0.0  0.0  0.0  0.0  0.0

In [49]:
enc.get_feature_names()

array(['x0_2Types', 'x0_Attchd', 'x0_Basment', 'x0_BuiltIn', 'x0_CarPort',
       'x0_Detchd', 'x0_None'], dtype=object)

### Categorical Transformer

In [92]:
cat_pipeline = Pipeline(steps = [
    ('postprocess', clean_categorical()),
    ('onehot', OneHotEncoder(handle_unknown = 'ignore'))
])

### Full Pipeline - Preprocess Training Data

In [62]:
num_columns = train_num.columns.to_list()
ordinal_columns = ['ExterQual', 'BsmtQual', 'KitchenQual', 'FireplaceQu']
cat_columns = train_cat.drop(ordinal_columns, axis = 1).columns.to_list()

In [72]:
class change_to_ordinal(BaseEstimator, TransformerMixin): 
    """
    
    Maps qualitative columns to a numeric value. 
    
    """
    
    def fit(self, X, y = None):
        return self
    
    def transform(self, X): 
        
        quality_map = {'Ex': 5,
                       'Gd': 4,
                       'TA': 3, 
                       'Fa': 2, 
                       'Po': 1,
                       'None': 0}
        
        lfunc = lambda x: quality_map[x]
        vfunc = np.vectorize(lfunc)
        
        return vfunc(X)

cat_ordinal_pipeline = Pipeline(steps = [
    ('postprocess', clean_categorical()), 
    ('impute', SimpleImputer(strategy = 'most_frequent')),
    ('ordinal', change_to_ordinal()),
    ('scale', MinMaxScaler())
])

In [93]:
#create full pipeline for numeric and categorical
full_pipeline = ColumnTransformer([
    ("cat", cat_pipeline, cat_columns),
    ("num", numeric_pipeline, num_columns),
    ("ord", cat_ordinal_pipeline, ordinal_columns)
])

In [94]:
housing_prepared = full_pipeline.fit_transform(training)
#print out first 2 rows
housing_prepared[:2]

<2x303 sparse matrix of type '<class 'numpy.float64'>'
	with 135 stored elements in Compressed Sparse Row format>

In [95]:
#https://stackoverflow.com/questions/54646709/sklearn-pipeline-get-feature-names-after-onehotencode-in-columntransformer
colnames_after_one_hot = full_pipeline.transformers_[0][1].named_steps['onehot'].get_feature_names().tolist()

In [96]:
# TO DO: Find a better way to get all column names. 
all_columns = colnames_after_one_hot + num_columns + ['Remodeled'] + ['TotalArea'] + ordinal_columns

In [97]:
len(all_columns)

303

In [98]:
housing_prepared.shape

(1460, 303)

In [99]:
# add back column names and change into dataframe
housing_df = pd.DataFrame(housing_prepared.todense(), columns = all_columns)
housing_df.head()

,x0_120,x0_160,x0_180,x0_190,x0_20,x0_30,x0_40,x0_45,x0_50,x0_60,...,PoolArea,MiscVal,MoSold,YrSold,Remodeled,TotalArea,ExterQual,BsmtQual,KitchenQual,FireplaceQu
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.090909,0.50,0.0,0.192301,0.666667,0.8,0.666667,0.0
1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.363636,0.25,0.0,0.208655,0.333333,0.8,0.333333,0.6
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.727273,0.50,1.0,0.202449,0.666667,0.8,0.666667,0.6
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.090909,0.00,1.0,0.182321,0.333333,0.6,0.666667,0.8
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.000000,0.50,0.0,0.275495,0.666667,0.8,0.666667,0.6

In [100]:
#save data
housing_df.to_pickle('cleaned_data/training_cleaned.pkl')
housing_df.to_csv('cleaned_data/training_cleaned.csv')

In [101]:
prices.to_pickle('cleaned_data/training_prices.pkl')

### Full Pipeline - Preprocess Test Data

In [102]:
#read in dataset
test = pd.read_csv('data/test.csv')
test.head()

#drop these columns from test set 
drop_columns = ['Id', 'GarageYrBlt'] 
test = test.drop(drop_columns, axis = 1)

In [103]:
test.shape

(1459, 78)

In [104]:
#run test data through pipeline
test_prepared = full_pipeline.transform(test)
#print out first 2 rows
test_prepared[:2]

<2x303 sparse matrix of type '<class 'numpy.float64'>'
	with 134 stored elements in Compressed Sparse Row format>

In [105]:
# add back column names and change into dataframe
test_df = pd.DataFrame(test_prepared.todense(), columns = all_columns)
test_df.head()

,x0_120,x0_160,x0_180,x0_190,x0_20,x0_30,x0_40,x0_45,x0_50,x0_60,...,PoolArea,MiscVal,MoSold,YrSold,Remodeled,TotalArea,ExterQual,BsmtQual,KitchenQual,FireplaceQu
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.454545,1.0,0.0,0.132841,0.333333,0.6,0.333333,0.0
1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.806452,0.454545,1.0,0.0,0.230879,0.333333,0.6,0.666667,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.000000,0.181818,1.0,1.0,0.207061,0.333333,0.8,0.333333,0.6
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.000000,0.454545,1.0,0.0,0.217377,0.333333,0.6,0.666667,0.8
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.000000,1.0,0.0,0.193559,0.666667,0.8,0.666667,0.0

In [106]:
test_df.shape

(1459, 303)

In [107]:
#save data
test_df.to_pickle('cleaned_data/test_cleaned.pkl')
test_df.to_csv('cleaned_data/test_cleaned.csv')